<!--    <div class="sidenav-overlay"></div>-->
<!--    <div class="drag-target"></div>-->

<!--    <footer class="footer footer-static footer-light navbar-border navbar-shadow">-->
<!--        <p class="clearfix blue-grey lighten-2 mb-0 px-2 ">-->
<!--        <span class="float-md-right d-block d-md-inline-block text-right">-->
<!--            <br>Copyright ⓒ KCA. ALL RIGHTS RESERVED.-->
<!--        </span>-->
<!--        </p>-->
<!--    </footer>  -->

    <!-- BEGIN: Default JS-->
    <script src="/static/app-assets/js/core/libraries/jquery-latest.min.js"></script>
    <script src="/static/app-assets/js/core/libraries/jquery_ui/jquery-ui.min.js"></script>
    <script src="/static/app-assets/js/core/libraries/jquery.mousewheel.min.js"></script>
    <script src="/static/app-assets/js/core/libraries/bootstrap.min.js"></script>
    <script src="/static/app-assets/vendors/js/vendors.min.js"></script>
    <script src="/static/app-assets/js/core/app-menu.js"></script>
    <script src="/static/app-assets/js/core/app.js"></script>
    <script src="/static/app-assets/vendors/js/forms/icheck/icheck.min.js"></script>
    <script src="/static/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>

<!--    <script src="/static/app-assets/vendors/js/charts/chart.min.js"></script>-->
<!--    <script src="/static/app-assets/vendors/js/charts/hammer.min.js"></script>-->
<!--    <script src="/static/app-assets/vendors/js/charts/chartjs-plugin-zoom.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8/hammer.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/3.0.1/chartjs-plugin-annotation.min.js"></script>
    <!-- BEGIN: Page JS-->