{% load static %}
<html>

<head>
<link rel="apple-touch-icon" href="/static/img/agcomm_logo.png">
<link rel="shortcut icon" href="/static/img/agcomm_logo.png" type="image/x-icon">
</head>


<body>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="author" content="kaid">
<title>ag communications Images</title>


<link rel="stylesheet" type="text/css" href="/static/css/core/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/css/fonts/text/style.css">
<link rel="stylesheet" type="text/css" href="/static/css/fonts/feather/style.css">