{% include "header.html" %}
<style>
.search input{
    min-height: 55px;
    width: 100%;
    background: 0 0;
    border: solid 1px;
    border-color: #BDBDBD;
    background: #fff;
    display: block;
    width: 100%;
    padding: 10px 70px 10px 32px;
    font-size: 18px;
    color: #666;
    border-radius: 34px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
}

.search span {
    margin-left: 20px;
    font-size: 18px;
    color: #A6A6A6;
}

.checkbox span {
    font-size: 24px;
    color: #A6A6A6;
}
</style>

<form action="/list/" method="post" id="action_form">
  {% csrf_token %}
  <div class="container-fluid search">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-sm-3 text-center">
            <img src="/static/img/index.png" width="100%">
        </div>
        <div class="col"></div>
    </div>
    <div class="row mt-3">
        <div class="col"></div>
        <div class="col-sm-4">
          <div class="row">
            <span><i class="ft-search"></i> 검색어를 입력하세요.</span>
          </div>
          <div class="row mt-1 mb-3" style="float: left;">
            <div class="col-9" >
              <input type="text" name="search_text">
            </div>
            <div class="col-3 align-self-center">
              <button type="button" class="btn btn-outline-secondary" onclick="submit_form()">검색</button>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
  </div>

  <div id="checkform">
  <div class="container-fluid checkbox mb-4" style="
      padding-right: var(--bs-gutter-x, 5.75rem);
      padding-left: var(--bs-gutter-x, 5.75rem);">
    <span><i class="ft-globe"></i> 대륙 및 국가</span>
    <hr class="mt-3">
    <div class="row">
        <div class="col-sm-3 mb-3">
            <div class="row mb-3 fw-bold">아시아</div>
            <div class="row" style="font-size: .9em;">
            {% for cn in country.asia_list %}
              <div class="form-check col-6">
                <input class="form-check-input" type="checkbox" value="{{ cn.0 }}" id="{{ cn.1 }}" name='country'>
                <label class="form-check-label col-12" for="{{ cn.1 }}">
                  {{ cn.0 }}
                </label>
              </div>
            {% endfor %}
            </div>
        </div>

        <div class="col-sm-3 mb-3">
            <div class="row mb-3 fw-bold">유럽</div>
            <div class="row" style="font-size: .9em;">
            {% for cn in country.europe_list %}
            <div class="form-check col-6">
              <input class="form-check-input" type="checkbox" value="{{ cn.0 }}" id="{{ cn.1 }}" name='country'>
              <label class="form-check-label col-12" for="{{ cn.1 }}">
                {{ cn.0 }}
              </label>
            </div>
            {% endfor %}
            </div>
        </div>

        <div class="col-sm mb-3">
          <div class="row mb-3 fw-bold">아메리카</div>
          <div class="row" style="font-size: .9em;">
          {% for cn in country.america_list %}
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="{{ cn.0 }}" id="{{ cn.1 }}" name='country'>
            <label class="form-check-label col-12" for="{{ cn.1 }}">
              {{ cn.0 }}
            </label>
          </div>
          {% endfor %}
          </div>
        </div>

        <div class="col-sm mb-3">
          <div class="row mb-3 fw-bold">아프리카</div>
          <div class="row" style="font-size: .9em;">
          {% for cn in country.africa_list %}
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="{{ cn.0 }}" id="{{ cn.1 }}" name='country'>
            <label class="form-check-label col-12" for="{{ cn.1 }}">
              {{ cn.0 }}
            </label>
          </div>
          {% endfor %}
          </div>
        </div>

        <div class="col-sm mb-3">
          <div class="row mb-3 fw-bold">오세아니아</div>
          <div class="row" style="font-size: .9em;">
          {% for cn in country.oceania_list %}
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="{{ cn.0 }}" id="{{ cn.1 }}" name='country'>
            <label class="form-check-label col-12" for="{{ cn.1 }}">
              {{ cn.0 }}
            </label>
          </div>
          {% endfor %}
          </div>
        </div>

        <div class="col-sm mb-3">
          <div class="row mb-3 fw-bold">중동</div>
          <div class="row justify-content-center" style="font-size: .9em;">
          {% for cn in country.middle_east_list %}
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="{{ cn.0 }}" id="{{ cn.1 }}" name='country'>
            <label class="form-check-label col-12" for="{{ cn.1 }}">
              {{ cn.0 }}
            </label>
          </div>
          {% endfor %}
          </div>
        </div>
      </div>
  </div>

  <div class="container-fluid checkbox" style="
      padding-right: var(--bs-gutter-x, 5.75rem);
      padding-left: var(--bs-gutter-x, 5.75rem);">
      <span><i class="ft-map-pin"></i> 스폿 분류 </span>
      <hr class="mt-3">
      <div class="row justify-content-center">

      <div class="col-sm">
        <div class="row">
        {% for cn in category %}
          <div class="row form-check col-sm-6 mb-2">
            <div class="col-sm" style="float: left;">
              <input class="form-check-input" type="checkbox" value="{{ cn.0 }}" name='spot' id="{{ cn.1 }}">
              <label class="form-check-label" for="{{ cn.1 }}">
                <span class="text-dark fw-bold text-center" style="font-size: .9em;">{{ cn.0 }}</span>
              </label>
            </div>
            <div class="col-11 fw-light" style="font-size: .85em; color:#A6A6A6">{{ cn.2 }}</div>
          </div>
        {% endfor %}
        </div>
      </div>
      </div>
    </div>
  </div>
</form>
{% include "footer.html" %}

<script>
  $('input[type=checkbox]').click(function(){
    check_limit = 10

    if ($('#checkform input[type=checkbox]:checked').length > 10) {
      alert('10개 이상 선택할 수 없습니다.')
      var click_id = '#' + $(this).attr('id')
      $(click_id).prop("checked", false)
    }
  })

  function submit_form() {
    $('#action_form').submit()
  }
</script>