{% include "header.html" %}
<style>
.search input{
    min-height: 55px;
    width: 100%;
    background: 0 0;
    border: solid 1px;
    border-color: #BDBDBD;
    background: #fff;
    display: block;
    width: 100%;
    padding: 10px 70px 10px 32px;
    font-size: 18px;
    color: #666;
    border-radius: 34px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
}

.search span {
    margin-left: 20px;
    font-size: 18px;
    color: #A6A6A6;
}

.checkbox span {
    font-size: 24px;
    color: #A6A6A6;
}
</style>
<div class="container-fluid search">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-8 text-center">
            <img src="/static/img/index.png" width="30%">
        </div>
        <div class="col"></div>
    </div>
    <div class="row mt-3">
        <div class="col"></div>
        <div class="col-4">
            <span><i class="ft-search"></i> 검색어를 입력하세요.</span>
            <input type="text" class="mt-1">
        </div>
        <div class="col"></div>
    </div>
</div>
<div class="container-fluid checkbox" style="
    padding-right: var(--bs-gutter-x, 5.75rem);
    padding-left: var(--bs-gutter-x, 5.75rem);">
    <span><i class="ft-globe"></i> 대륙 및 국가</span>
    <hr class="mt-3 mb-3">
    <div class="row">
        <div class="col">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
              <label class="form-check-label" for="flexCheckDefault1">
                Default checkbox
              </label>
            </div>
        </div>
        <div class="col">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
              <label class="form-check-label" for="flexCheckDefault2">
                Default checkbox
              </label>
            </div>
        </div>
        <div class="col">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
              <label class="form-check-label" for="flexCheckDefault3">
                Default checkbox
              </label>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}